<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Subscribed Successfully</title>
        <link rel="stylesheet" href="./public/css/style.css"  />
    </head>
    <body>
        <div class="subscribed_pageBox">
            <h2 class="subscribed_pageBox_title">Thank You for Subscribing</h2>
            <a class="subscribed_pageBox_Link" href="/">Back</a>
        </div>
    </body>
</html>